@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
}

h1 {
  font-size: clamp(2.8rem, 3.25vw + 2rem, 4.56rem);
}
h2 {
  font-size: clamp(2.32rem, 2.38vw + 1.85rem, 3.75rem);
}
h3 {
  font-size: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
}
h4 {
  font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
}
h5 {
  font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
}
p {
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
}
.nav_active{
  
  box-shadow: 0 0 10px #171717, 0 0 20px #171717;
}
@media (min-width: 1024px) {
  .nav_active{
    translate: 50%;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small_img_active {
  background-color: #0074e4;
}

.gallery_wrapper > div {
  border-radius: 20px;
  background: #050505;
}

.blur-effect {
  /* Inner blur effect */
  filter: drop-shadow(0 0 10px black); /* Adjust color and size as needed */
  border-radius: 40px;
  grid-column: 1 / -1;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: cover -100px;
}
.big-text {
  display: inline-block;
  transform: translate3d(0, 100px, 0);
  animation: fade-up-big linear forwards;
  animation-timeline: view();
  animation-range: cover;
  scale: 0.6;
}
.small-text {
  display: inline-block;
  transform: translate3d(0, 200px, 0);
  animation: fade-up-small linear forwards;
  animation-timeline: view();
  animation-range: cover -100px;
  scale: 0.6;
  opacity: 0.3;
}

@keyframes fade-up-big {
  to {
    transform: translate3d(0, -200px, 0);
    scale: 1.2;
  }
}

@keyframes fade-up-small {
  to {
    transform: translate3d(0, -250px, 0);
    scale: 1.2;
    opacity: 1;
  }
}

@keyframes fade-in {
  to {
    opacity: 0.6;
    scale: 2;
  }
}
.inset-blur {
  -webkit-box-shadow: inset 0px 0px 47px 55px #050505;
  -moz-box-shadow: inset 0px 0px 47px 55px #050505;
  box-shadow: inset 0px 0px 47px 55px #050505;
}


