@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --dark: #181818;
  --grey: #212121;
  --blue: #0074e4;
  --white: #fff;
}
body {
  overflow-x: hidden;
}
h1 {
  font-size: clamp(2.8rem, 3.25vw + 2rem, 4.56rem);
}
h2 {
  font-size: clamp(2.32rem, 2.38vw + 1.85rem, 3.75rem);
}
h3 {
  font-size: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
}
h4 {
  font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
}
h5 {
  font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
}
p {
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
}

.active {
  color: var(--blue);
  position: relative;
}
/* .active::before {
  content: "";
  width: 30px;
  height: 8px;
  border-radius: 15px;
  position: absolute;
  background-color: #0074e4;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
} */
.list_underline {
  position: relative;
}
.list_underline::after {
  content: "";
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.list_underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.clip_path {
  clip-path: polygon(100% 0, 100% 100%, 63% 78%, 0 78%, 0 0);
}
.custom-shape-divider-top-1696561410 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.custom-shape-divider-top-1696561410 svg {
  position: relative;
  display: block;
  width: calc(114% + 1.3px);
  height: 184px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1696561410 .shape-fill {
  fill: var(--grey);
}

.small_img_active {
  background-color: #0074e4;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spec_table {
  border-collapse: collapse;
}
.spec_table :where(td, th) {
  padding: 10px;
}

.spec_table tr:nth-child(even) {
  background-color: var(--grey);
}
.marquee1 {
  animation: marquee1 20s infinite linear;
}

@keyframes marquee1 {
  0% {
    transform: translate3d(-80%, 0, 0);
  }
  100% {
    transform: translate3d(-200%, 0, 0);
  }
}

.marquee2 {
  transform: translate3d(20%, 0, 0);
  animation: marquee2 20s infinite linear;
}

@keyframes marquee2 {
  0% {
    transform: translate3d(20%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.stroked {
  -webkit-text-stroke: 1px black;
}

.test {
  transition: opacity 5s;
}

.active_square {
  transform: scale(3);
  transition: all 0.5s;
  transition-delay: 0.1s;
}
.active_text {
  opacity: 1;
  transform: translate3d(0,30%,0);
  transition: transform  0.5s;
}

.text-info {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.1s ease, transform 0.1s ease;
}
.text-info.show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}